body {
    margin-top: 56px;
    font-family: 'Arial', sans-serif;
}

.hero {
    height: 100vh;
    background-image: url('../img/img/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px; /* Adiciona espaço na parte superior, se desejado */
}

.parallax {
    height: 768px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 40px; /* Adiciona espaço na parte superior da seção parallax */
}

#textoinicial {
    padding-top: 30%;
}

.carousel-inner img {
    width: 100%;
    height: 900px; /* Ajuste este valor conforme necessário */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos controles */
}

#myCarousel {
    margin-bottom: 30px; /* Espaço entre o carrossel e a seção parallax */
}

.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107; /* Cor do texto ao passar o mouse */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo leve ao passar o mouse */
}

.hidden {
    transform: translateY(-100%); /* Move a nav bar para fora da tela */
    opacity: 0; /* Torna a nav bar invisível */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
}
