html, body{
    margin: 0px;
    padding: 0px;
     overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
   
    
}

body{
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;

}

.navigation{
    background-color: #2b2b2b;
    color: white;
    height: 50px;


    animation-name: profile-capa;
    animation-duration: 4s ;

}
.navigation ul{
    margin-top: 0;
    list-style: none;
    padding-left:0;
    text-align: right;
    height: 50px;
}

.navigation li{
    display: inline-block;
    padding-left:30px ;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
}
.navigation a{
    color:white;
    text-decoration: none;

}
.navigation a:hover{
    color: #f27609;


}

.navigation li.treslinhas-icon{
    display: none;
    
}
.navigation li.treslinhas-icon:hover{
    color: #f27609;    
    cursor: pointer;
}


.capa{
    color: white;

}
.capa span{
    color: #f27609;
    display: block;

}
.capa div{
    display: inline-block;
    height: 650px;
    

}

.foto-perfil{
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 5s ;

}
.foto-perfil img{
    width: 350px;
    border-radius: 350px;
    margin-top: 100px;
}

.titulo-perfil{
    vertical-align: top;
    width: 59%;

        animation-name: titulo-capa;
        animation-duration: 2s;
}

.titulo-perfil h1{
    font-size: 58px;
    margin-top: 200px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 54px;

}
.titulo-perfil h2{
    font-weight: 100;

    font-size:16px;
    margin-top: -26px;
    
}

.main{
    padding: 40px 180px 80px 100px;


    /* padding-top:80px ;
    padding-right: 180px;
    padding-bottom: 80px;
    padding-left: 100px;
     */

     
     animation-name: conteudo;
     animation-duration: 2s;


}


.botao {
	box-shadow: 0px 0px 0px 1px #43ff0f;
	background-color:#5cbf2a;
	border-radius:28px;
	border:5px solid #edfcef;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:9px 35px;
	text-decoration:none;
    margin-bottom: 15px;
}
.botao:hover {
	background-color: #44c767  ;
}
.botao:active {
	position:relative;
	top:1px;
}

.botao2 {
	box-shadow: 0px 0px 0px 1px #43ff0f;
	background-color:#5cbf2a;
	border-radius:28px;
	border:5px solid #edfcef;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
    margin-left:10px ;
	padding:9px 35px;
	text-decoration:none;
}
.botao2:hover {
	background-color: #44c767  ;
}
.botao2:active {
	position:relative;
	top:1px;
}


 .comentarios{
    color:white;
    margin-top: 20px;

}
 .comentarios:hover{
    color: #f27609;


}

.cp-text{ 
    color: rgba(0,0,0,.7); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
   

}
footer {
    position: fixed;
    bottom:0;
    
}

.main h1{

    color: white;
    font-weight: normal;

}
.main h2{
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 40px;
}

.main h3{
    color:#f27609;
    font-size: 12px;
    text-transform: uppercase;

}

.main p{
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;

}


.cv-pic{
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;


}
.caminho{
list-style: none;
padding-left: 0;
color: grey;

}



.caminho li{
    display: inline-block;

}
.caminho a{
    color: grey;


}


.social-img{
    width: 50px;
    margin-right: 10px;

}

.miniatura{
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
    background-size: cover; 
    background-position: center;


}

.miniatura a{
    text-decoration: none;

}
.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;

}

.blackbox:hover{
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text{
    text-align: center;

}


.blackbox-text h1{
    font-size: 16px;
    color: #f27609;
    text-transform: uppercase;
    margin-top: 0;

}
.blackbox-text h2{
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
    
}

.foto-trabalhos{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;

}

.back-link{
    color: #f27609;


}

@keyframes profile-capa{
        0%{ 
            opacity: 0;
            
            transform: translate(0px, 20px );
             }
        100%{
            opacity: 1;
            transform: translate(0px, 0px);
        }


}


@keyframes titulo-capa{
    0%{ 
        opacity: 0;
        
        transform: translate(0px, -20px );
         }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }


}

@keyframes conteudo{
    0%{ 
        opacity: 0;
        
        transform: translate(-20px, 0px );
         }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }


}


@keyframes navegação{
    0%{ 
        opacity: 0;
        
         }
         50%{
            opacity: 0;

         }
    100%{
        opacity: 1;
        }


}

@media(max-width:1000px){

    .navigation li {
        display: none;
    }
    .navigation li.treslinhas-icon{
        display: inline-block;

    }
    .capa div{
        display: block;
        height: auto;
        
    }


    .foto-perfil{
        width: 100%;


    }
    .foto-perfil img{
        margin-top: 0;
        max-width: 80%;
    }

    .titulo-perfil{
        text-align: center;
        width: 100%;

    }
    .titulo-perfil h1{
        margin-top: 30px;
        font-size:40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulo-perfil h2{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main{
        padding: 10px 5% 40px 5%;    
  
    
    }

    .no-break{
        overflow-wrap:break-word;
        word-wrap: break-word;

    }

    .main p{

        text-align: left;
        line-height: 30px;


    }.caminho li{
        font-size: 14px;
    }
    .cv-pic{
        float: none;
        max-width: 100%;
        margin-right: 0px;
    }
    .miniatura {
        max-width: 100%;
        background-size: auto 100%;
    }
    .blackbox{
        opacity: 0.8;
    }
    
    .menujs{
        height: auto;

    }
    .menujs ul{
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;

    }
    .menujs li{
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding:0;

    }
    }

